html, body{
  margin: 0;
  padding: 0;
}

header{
  background-color: rgb(71, 105, 121);
  color: #fff;
  height: 64px;
  display: flex;
  
  /** fixed header*/
  position: fixed;
  top: 0;
  width: 100%;
}


header .logo{
  position: absolute;
  height: 64px;
  right: 0px;
}

header .logo img{
  padding: 4px;
  height: 56px;
}

/* padding for anchor*/
main a.anchor {
  display: block;
  position: relative;
  top: calc(-64px - 1em);
  visibility: hidden;
}


main{
  padding-top: 64px; /* for header*/
}

.main-menu{
  background-color:rgb(71, 105, 121);
  color: #fff;
}

footer{
  height: 64px;
  background-color: rgb(71, 105, 121);
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: 1.5em 1.5em;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: rgb(255, 255, 255);
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  top: 64px; /* header height*/
  width: 100%;
  overflow-y: auto;
  overflow-x: visible;
  z-index: 999;
  display: none;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /*
  padding: 2.5em 0 0;
  
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  */
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}







/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 aria-expanded="true/false" will be for JavaScript
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;  
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}



@media (min-width: 992px) {

}