// fix timeline on scroll over header because of position asolute
color-1 = #a6c9d9;
color-2 = #4f6d84;
color-3 = rgba(57, 63, 72, 0.3);
header {
    z-index: 1;
}

.timeline-container {
    width: 100%;
    height: 100%;
    // display: inline-block;
    // background: #876fb1;
    margin: 2em 0 0;
}


.timeline-block{
    //padding: 1em 0em;
}

.timeline-block-inner {
    // background: grey;
    box-shadow: 1px 2px 5px 0px color-3;
    padding: 1em 1.5em;
    margin: 0em 0;
    margin-left: 4.2em;
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
        margin-top: calc(-1em + 4px); // 1em padding + 4px shadow
        left: calc(3em - 13px); // 30width + 4px line
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0 0 0 3px color-2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
        background: #fff;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .timeline-title {
        &::before {
            content: '';
            position: absolute;
            border: 8px solid transparent;
            border-right: 8px solid color-1;
            margin-left: -2.5em;
            margin-top: -4px;
        }
    }
}

/** line only on smal */
@media screen and (max-width: 800px) {
    .timeline-block{
        display: inline-flex;
        //padding: 1em 0em;
        width: 100%;

        .timeline-block-inner{
            width: 100%;
            margin: 0em 0 1em 3em
        }
        .timeline-block-line{
            width: 3px;
            background: color-1;//#942942;
            margin-left: 2em;
            padding: 1em 0em;
        }
    }

    .timeline-block:last-child{
        .timeline-block-line{
            background: #fff;
        }
    }
}

@media screen and (min-width: 800px) {
    .timeline-block {
        width: calc(50%);
        margin-left: 0;
        box-sizing: content-box;

        .timeline-block-line{
            display: none;
        }
    }

    .timeline-block-inner {
        width: calc(100% - 3em); // minus 3em padding
        margin-left: 0;

        &::before {
            // 30width + 4px line
            left: calc(50% - 13px);
        }

        .timeline-title::before {
            margin-left: calc(50% - 6em + 8px);
            border-right: none;
            border-left: 8px solid color-1;
        }
    }

    .timeline-block:nth-child(even) {
        margin-left: calc(50%); // minus 3em padding
        border-left: solid color-1 3px; //; #942942
    }

    .timeline-block:nth-child(odd) {
        border-right: solid  color-1 3px; //; #942942
    }

    .timeline-block:last-child{
        border: none;
    }

    .timeline-block:nth-child(even) {
        .timeline-block-inner {
            margin-left: 3em; // minus 3em padding
        }
    }

  
    .timeline-block:nth-child(even) {
        .timeline-block-inner{
            .timeline-title::before {
                margin-left: -2em;
                border-right: 8px solid color-1;
                border-left: none;
            }
        }
    }
}