
.color-head {
    color: #8a9d7e

    a {
        color: #8a9d7e
    }
}

.color-about {
    color: #9b816d;

    a {
        color: #9b816d;
    }
}

.color-interests {
    color: #7e888f;

    a {
        color: #7e888f;
    }
}

.color-repos {
    color: #4f6d84;

    a {
        color: #4f6d84;
    }
}
